<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RPXVZVX574"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RPXVZVX574');
</script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
  <title>About DCS</title>
  <!-- Bootstrap CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style/About.css" />
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="index.html">
        <img src="/assets/logo.png" alt="Logo">
      </a>
      <!-- Toggler for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <!-- Services Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li class="dropdown-item">
                <strong>Development Services →</strong>
              </li>
              <li><a class="dropdown-item" href="/components/AI.html">Artificial Intelligence</a></li>
              <li><a class="dropdown-item" href="/components/Software Development.html">Web Development</a></li>
              <li><a class="dropdown-item" href="/components/Software Development.html">App Development</a></li>
              <li><a class="dropdown-item" href="/components/Cybersecurity.html">Cybersecurity</a></li>
              <li><a class="dropdown-item" href="/components/Cloud Services.html">Cloud Services</a></li>
            </ul>
          </li>
          <!-- Pricing Dropdown -->
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link">Pricing</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/index.html#success-stories">Case Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Get In Touch Button -->
      <div class="d-none d-lg-block">
        <a href="#contact" class="btn-primary get-in-touch-btn">Get in Touch</a>
      </div>
    </div>
  </nav>

  <div class="container my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/components/About.html">About DCS</a></li>
        
      </ol>
    </nav>
    <section class="hero-section mb-4">
      <div class="d-flex align-items-center justify-content-between text-section">
        <div class="text-content col-md-9 col-lg-9">
          <h1>About Us</h1>
          <p class="description">
            Discover more About DCS. We are a team of innovators and problem
            solvers who are passionate about technology and dedicated to helping
            businesses succeed. Our mission is to provide the best possible
            solutions that meet the needs of our clients and their customers.
          </p>
          <div class="d-flex">
            <a href="#about_us" class="btn btn-primary me-3">Try Self-guided Tour</a>
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dodongconsultancy/30min'});return false;" class="btn btn-outline-primary me-3">Get Free Consultation</a>

          </div>
        </div>

        <!-- Image Section -->
        <div class="image-content">
          <img src="/assets/about-us.jpg" alt="About Us Image" class="about-us-img" />
        </div>
      </div>
    </section>

    <div class="sidebar-container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <aside class="col-lg-2 col-md-3 sidebar p-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item active">
              <a href="#about_us">About Us</a>
            </li>
            <li class="list-group-item active">
              <a href="#our_mission">Our Mission</a>
            </li>
            <li class="list-group-item">
              <a href="#our_vision">Our Vision</a>
            </li>
            <li class="list-group-item">
              <a href="#our_values">Our Values</a>
            </li>
            <li class="list-group-item"><a href="#our_team">Our Team</a></li>
          </ul>
        </aside>

        <!-- Main Content -->
        <main class="col-lg-10 col-md-9 p-3">
          <!-- Content Section -->
           <div class="content-section">
            <h1 id="about_us">About Us</h1>
            <p>
              At DCS, we are passionate about leveraging technology to transform businesses and drive innovation. With a team of dedicated professionals, we specialize in providing end-to-end solutions in artificial intelligence, software development, cloud services, and cybersecurity. Our mission is to empower organizations by delivering customized, high-quality technology solutions that meet their unique needs and exceed their expectations.
            </p>
            <p>
With years of experience across various industries, we understand the diverse challenges that businesses face in today's fast-paced digital landscape. Our approach is rooted in collaboration and a deep understanding of our clients' goals, ensuring that we deliver solutions that not only solve problems but also create new opportunities for growth and success.

            </p>
           </div>
          <div class="content-section">
            <h1 id="our_mission">Our Mission</h1>
            <p>
              Our mission is to harness the power of technology to drive meaningful change and innovation. We strive to:

            </p>
            <p>
            <ul>
              <li>
                <b>Empower Businesses</b>: By providing cutting-edge technology solutions that enhance efficiency, productivity, and competitiveness.
              </li>
              <li>
                <b>Deliver Excellence</b>: Through high-quality, customized solutions that exceed our clients' expectations.
              </li>
              <li>
                <b>Foster Innovation</b>: By continuously exploring new technologies and methodologies to stay at the forefront of the industry.
              </li>
              <li>
                <b>Build Partnerships</b>: Through collaboration and a deep understanding of our clients' needs, we create lasting relationships that drive mutual success.
              </li>
            </ul>
            </p>

            <!-- Video or Image Placeholder -->
          
          </div>

          <div class="content-section">
            <h1 id="our_vision">Our Vision</h1>
            <p>
              Our vision is to be a global leader in technology solutions, recognized for our commitment to innovation, quality, and customer satisfaction. We aspire to:
            </p>
            <p>
            <ul>
              <li>
                <b>Lead the Industry</b>: By setting the standard for excellence in artificial intelligence, software development, cloud services, and cybersecurity.
              </li>
              <li>
                <b>Inspire Innovation</b>: By fostering a culture of creativity, curiosity, and continuous learning within our team and the broader tech community.

              </li>
              <li>
                <b>Promote Sustainability</b>: By developing solutions that are not only effective but also environmentally responsible and sustainable.
              </li>
              <li>
                <b>Make an Impact</b>: By enabling businesses to achieve their goals and make a positive impact on their communities and the world.
              </li>
            </ul>
            </p>
            
          </div>

          <div class="content-section">
            <h1 id="our_values">Our Values</h1>
            <p>
              Our vision is to be a global leader in technology solutions, recognized for our commitment to innovation, quality, and customer satisfaction. We aspire to:
            </p>
            <p>
            <ul>
              <li>
                <b>Integrity</b>: BWe conduct our business with honesty, transparency, and accountability.
              </li>
              <li>
                <b>Excellence</b>: We are committed to delivering the highest quality solutions and services. 
              </li>
              <li>
                <b>Innovation</b>: We embrace creativity and continuously seek out new ideas and technologies.
              </li>
              <li>
                <b>Collaboration</b>: We believe in the power of teamwork and the strength of our partnerships.
              </li>
              <li>
                <b>Customer-Centricity</b>: We put our clients at the heart of everything we do, ensuring their success is our top priority.
              </li>
            </ul>
            </p>
           
          </div>

          <div class="content-section">
            <h1 id="our_team">Our Team</h1>
            <p>
              A team of skilled professionals dedicated to excellence in
              digital solutions.
            </p>
            <p>
              DCS is a team of skilled professionals dedicated to excellence in
              digital solutions. Our team is led by experienced industry
              veterans who have a deep understanding of the technology landscape
              and the needs of our clients. We are passionate about delivering
              high-quality solutions that meet the unique needs of each of our
              clients. Our team is made up of experts in various fields, from
              software development to cybersecurity, data analytics, and more.
              We are a collaborative and innovative company that is always
              looking for ways to improve our services and deliver the best
              possible solutions to our clients.
            </p>
            <!--  -->
          </div>
        </main>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="container my-5" id="contact">
    <div class="contact-container rounded shadow-sm p-5">
      <div class="row g-4 align-items-center">
        <!-- Contact Information on the Left -->
        <div class="col-md-6">
          <h2 class="contact-info-title">Get in Touch</h2>
          <p class="contact-info-description">
            Ready to transform your business with DCS? Contact us today to learn more about our services and how we can help you achieve your business objectives.

          </p>
          <ul class="contact-details list-unstyled mt-4">
            <li><strong>Address:</strong> A/10, Ashok Nagar,Bhubaneswar,Odisha,India</li>
            <li>
              <strong>Email:</strong> dodongconsultancy@gmail.com
            </li>
            <li><strong>Phone:</strong> +91-7077981777</li>
          </ul>
        </div>
        <div class="col-md-6">
            <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/dodongconsultancy/30min?hide_event_type_details=1" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
        </div>
      

    
      </div>
    </div>
  </div>

  
<!-- Footer Section -->
 <!-- Footer Section -->
 <footer class="footer bg-dark text-light py-5">
  <div class="container">
    <div class="row align-items-center mb-4">
      <!-- Logo -->
      <div class="col-md-6 mb-4 mb-md-0">
        <a href="/index.html"
          ><img
            src="/assets/logo.png"
            alt="DCS Logo"
            class="footer-logo mb-3"
        /></a>
      </div>
    </div>

    <hr class="text-secondary" />

    <div class="row">
      <!-- Column 1: Discover -->
      <div class="col-md-4 mb-3">
        <h6 class="d-md-block d-none">Discover</h6>
        <div
          class="btn-link d-md-none text-light w-100 text-start"
          data-bs-toggle="collapse"
          data-bs-target="#discoverSection"
          aria-expanded="false"
        >
          Discover <i class="fa-solid fa-angle-down dropdown-icon"></i>
        </div>
        <div
          class="collapse d-md-block bordered-collapse"
          id="discoverSection"
        >
          <ul class="list-unstyled">
            <li><a href="/components/About.html">About us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#success-stories">Case Studies</a></li>

          </ul>
        </div>
      </div>

      <!-- Column 2: Learn About -->
      <div class="col-md-4 mb-3">
        <h6 class="d-md-block d-none">Learn about</h6>
        <div
          class="btn-link d-md-none text-light w-100 text-start"
          data-bs-toggle="collapse"
          data-bs-target="#learnAboutSection"
          aria-expanded="false"
        >
          Learn about <i class="fa-solid fa-angle-down dropdown-icon"></i>
        </div>
        <div
          class="collapse d-md-block bordered-collapse"
          id="learnAboutSection"
        >
          <ul class="list-unstyled">
            <li><a href="/components/AI.html">Artificial intelligence</a></li>
            <li><a href="/components/Software Development.html">Software Development</a></li>
            <li><a href="/components/Cybersecurity.html">Cybersecurity</a></li>
            <li><a href="/components/Cloud Services.html">Cloud Services</a></li>
            
          </ul>
        </div>
      </div>

      <!-- Column 4: About DCS -->
      <div class="col-md-4 mb-3">
        <h6 class="d-md-block d-none">About DCS</h6>
        <div
          class="btn-link d-md-none text-light w-100 text-start"
          data-bs-toggle="collapse"
          data-bs-target="#aboutDCSSection"
          aria-expanded="false"
        >
          About DCS <i class="fa-solid fa-angle-down dropdown-icon"></i>
        </div>
        <div
          class="collapse d-md-block bordered-collapse"
          id="aboutDCSSection"
        >
          <ul class="list-unstyled">
            <li><a href="/components/About.html">About DCS</a></li>
            <li><a href="/components/About.html#our_mission">Mission & Vision</a></li>
            <li><a href="/components/About.html#our_team">Our Team</a></li>
            <li><a href="#success-stories">Client Testimonials</a></li>
            
            
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Links -->
     <hr class="text-secondary my-4" /> 
    <div class="row">
      <div class="col-md-4 text-start">
        <ul class="list-unstyled">
          <li><a href="/Terms and Condition.html">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-start">
        <ul class="list-unstyled">
          <li><a href="/Privacy Policy.html">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-start">
        <ul class="list-unstyled">
          <li><a href="/Cookie Policy.html">Cookie Policy</a></li>
        </ul>
      </div>
    
    </div> 
  </div>
</footer>
  <!-- JavaScript Bundle -->
  <script src="/script/About.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="script/script.js"></script>
</body>

</html>